{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                <label for="inputUsername">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
                <a href="{{ path('register') }}">Je souhaite m'inscrire.</a>
            </form>
        </div>
    </section>
{% endblock %}
